<div class="row" ng-controller="LoginController as loginCtrl">
  <div class="col-sm-12">
    <div class="jumbotron mdb-color" style="height: 100%;">

      <form name="loginForm" ng-submit = "loginCtrl.submitSigninForm(loginForm)" novalidate>
        <p class="h3 white-text text-center mb-4">Please Sign in To Enter The System</p>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input name="email" ng-model = "loginCtrl.signin.email" type="email" id="materialFormLoginEmailEx" class="form-control" required="">
          <label for="materialFormLoginEmailEx">Your email <strong class="saffText">*</strong></label>
          <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="font-small error-alert text-center d-flex justify-content-center mb-3 pt-2"> email must be valid.</p>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input name="password" ng-model = "loginCtrl.signin.password" type="password" id="materialFormLoginPasswordEx" class="form-control" required="">
          <label for="materialFormLoginPasswordEx">Your password <strong class="saffText">*</strong></label>
          <p ng-show="loginForm.password.$invalid && loginForm.password.$touched" class="font-small error-alert text-center d-flex justify-content-center mb-3 pt-2"> password is required.</p>
        </div>

        <div class="text-center mt-4">
          <button ng-disabled = "loginCtrl.loading" class="btn btn-outline-pink waves-effect" type="submit"><i class="fa fa-sign-in mr-1"></i>Login</button>
        </div>

        <div class="text-center mt-4">
          <div class="loader" ng-show="loginCtrl.loading"></div>
        </div>
      </form>

      <hr class="md-5">
      <div class="row">
      
      <div class="col-sm-6 text-center">
        <p class="font-small grey-text text-center d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>
        <button ng-click = "loginCtrl.googleLogin()" type="button" class="btn btn-outline-white btn-rounded z-depth-1a"><i class="fa fa-google-plus blue-text"></i></button>
      </div>
      
      <div class="text-center col-sm-6">
        <p class="font-small grey-text text-center d-flex justify-content-center mb-3 pt-2">Not a member?</p>
        <a href="#!/sign-up" class="btn btn-outline-warning waves-effect"> Sign Up</a>
      </div>
    </div>
    </div>
  </div>
</div>
